---
layout: default
section_id: about

publications:
  - title: 'When Hashing Met Matching: Efficient Spatio-Temporal Search for Ridesharing'
    summary: 'An AI technique for efficient search in mobility optimization.'
    conference: 'AAAI Conference on Artificial Intelligence, 2021'
    link: 'https://ojs.aaai.org/index.php/AAAI/article/view/16081'
  - title: 'Edge Weighted Online Windowed Matching'
    summary: 'An algorithmic model for online optimization.'
    journal: 'Mathematics of Operations Research'
    conference: 'ACM Conference on Economics and Computation, 2019'
    link: 'https://dl.acm.org/doi/abs/10.1145/3328526.3329573'

patents:
  - title: 'System and method for rideshare matching based on locality sensitive hashing'
    status: 'Pending'
---

<div class='four spacing'></div>

<div class='no-padding full'>
  <div class='row'>
    <div class='medium-16 columns'>
      <h4 style='color: #999'> <big> What's mowvli&trade;? </big> </h4>
      <div class='medium-12 columns'>
        <h3>mowvli&trade; is a first-of-its-kind mobility operating system.</h3> <br>
      </div>
    </div>
  </div>
</div>

<div class='no-padding full'>
  <div class='row'>
    <div class='medium-16 columns'>
      <h4 style='color: #999'> <big> What's a mobility operating system? </big> </h4>
      <div class='medium-12 columns'>
        <h3>Just like you don't get a computer simply by throwing in some processors, memory chips and hard disks
          without an operating system to tie them all together, you don't get a smart mobility system simply
          by having a multimodal fleet. A mobility operating system optimizes, operates and manages
          the fleet in real-time - it ties all the parts together into a seamless and unified multimodal system
          of on-demand mobility.
        </h3> <br>
      </div>
    </div>
  </div>
</div>

<div class='no-padding full'>
  <div class='row'>
    <div class='medium-16 columns'>
      <h4 style='color: #999'> <big> That's cool! </big> </h4>
      <div class='medium-12 columns'>
        <h3>We think alike!</h3> <br>
      </div>
    </div>
  </div>
</div>

<div class='no-padding full'>
  <div class='row'>
    <div class='medium-16 columns'>
      <h4 style='color: #999'> <big> What if the fleet is autonomous? </big> </h4>
      <div class='medium-12 columns'>
        <h3>Smart cars don't make smart mobility by themselves! A mobility operating system is all the more necessary!</h3> <br>
      </div>
    </div>
  </div>
</div>

<div class='no-padding full'>
  <div class='row'>
    <div class='medium-16 columns'>
      <h4 style='color: #999'> <big> So how does mowvli make real-time decisions? </big> </h4>
      <div class='medium-12 columns'>
        <h3> Great question! There are some really powerful algorithms and models that power its brain.
          But honestly, mowvli has  mastered the "jungle book" well - it draws much of its power by synthesizing
          Artificial Intelligence (AI) with Operations Research (OR).
        </h3> <br>
      </div>
    </div>
  </div>
</div>

<div class='no-padding full'>
  <div class='row'>
    <div class='medium-16 columns'>
      <h4 style='color: #999'>Got patents?</h4>
      {% for patent in page.patents %}
        <div class='two spacing'></div>
        <div class='no-padding full'>
          <div class='row'>
            <div class='medium-16 columns'>
              <div class='medium-6 columns'>
                <h3>{{patent.title}}</h3>
              </div>
              <div class='medium-6 columns'>
                <ul class='info'>
                  {% if patent.status %}
                    <li style="color:black;">
                      <font face="didot"> <big> Status: <strong> {{patent.status}} </strong> </big> </font>
                    </li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class='two spacing'></div>

<div class='no-padding full'>
  <div class='row'>
    <div class='medium-16 columns'>
      <h4 style='color: #999'>Got publications?</h4>
      {% for publication in page.publications %}
        <div class='two spacing'></div>
        <div class='no-padding full'>
          <div class='row'>
            <div class='medium-16 columns'>
              <div class='medium-6 columns'>
                <h3>{{publication.title}}</h3>
                <div class='spacing'></div>
                <p> <big> {{publication.summary}} </big> </p>
              </div>
              <div class='medium-6 columns'>
                <ul class='info'>
                  {% if publication.journal %}
                    <li style="color:black;">
                      <font face="didot"> <big> Journal:  <strong> {{publication.journal}} </strong> </big> </font>
                    </li>
                  {% endif %}
                  {% if publication.conference %}
                    <li style="color:black;">
                      <font face="didot"> <big> Conference: <strong> {{publication.conference}} </strong> </big> </font>
                    </li>
                  {% endif %}
                </ul>
                <div class='two spacing'></div>
                <a target='_blank' class='button small' href={{publication.link}}>View Publication</a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class='four spacing'></div>
