---
layout: default
section_id: about

publications:
  - title: When Hashing Met Matching: Efficient spatio-temporal search for ridesharing
    abstract: This work introduced the powerful AI technique of Locality Senitive Hashing (widely used in several engineering disciplines)
      to mobility research. Efficient high-dimensional search technology developed in this paper aids real-time urban-scale mobility optimization.
    conference: AAAI Conference on Artificial Intelligence, 2021
    link: https://ojs.aaai.org/index.php/AAAI/article/view/16081
  - title: Edge Weighted Online Windowed Matching
    abstract: This work proposed a novel online algorithmic model to study real-time decision making in matching markets
      such as mobility platforms. The model and algorithmic techniques from this paper have generated a lot of research interest in the area.
    journal: Mathematics of Operations Research
    conference: ACM Conference on Economics and Computation, 2019
    link: https://dl.acm.org/doi/abs/10.1145/3328526.3329573

patents:
  - title: System and method for rideshare matching based on locality sensitive hashing
    status: Pending
---

<div class='spacing'></div>

<div class='full'>
  <div class='row'>
    <h4 style='color: #999'>Who We Are</h4>
  </div>
</div>

<div class='full'>
  <div class='row'>
    <div class='medium-12 columns'>
      <h3>We are building mobility technology. Powered by science.</h3>
    </div>
  </div>
</div>

<div class='full'>
  <div class='row'>
    <h4 style='color: #999'>Our Patents</h4>
  </div>
</div>

{% for patent in page.patents %}
  <div class='full'>
    <div class='row'>
      <div class='large-6 columns'>
        <h3>{{patent.title}}</h3>
      </div>
      <div class='large-6 columns'>
        <ul class='info'>
          {% if patent.status %}
            <li style="color:black;">
              <big> <strong>Status</strong>: {{patent.status}} </big>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
{% endfor %}

<div class='full'>
  <div class='row'>
    <h4 style='color: #999'>Our Publications</h4>
  </div>
</div>

{% for publication in page.publications %}
  <div class='full'>
    <div class='row'>
      <div class='large-6 columns'>
        <h3>{{publication.title}}</h3>
        <div class='spacing'></div>
        <p> <big> {{publication.abstract}} </big> </p>
      </div>
      <div class='large-6 columns'>
        <ul class='info'>
          {% if publication.journal %}
            <li style="color:black;">
              <big> <strong>Journal</strong>: {{publication.journal}} </big>
            </li>
          {% endif %}
          {% if publication.conference %}
            <li style="color:black;">
              <big> <strong>Conference</strong>: {{publication.conference}} </big>
            </li>
          {% endif %}
        </ul>
        <div class='two spacing'></div>
        <a target='_blank' class='button small' href={{publication.link}}>View Publication</a>
      </div>
    </div>
  </div>
{% endfor %}

<div class='four spacing'></div>
