---
layout: default
section_id: technology

publications:
  - title: Edge Weighted Online Windowed Matching
    abstract: 'This work proposed a novel online algorithmic model to study real-time decision making in matching markets
      such as mobility platforms. It developed several algorithmic techniques in the new model and has generated a lot of
      research interest in the area.'
    journal: To be published in Mathematics of Operations Research
    conference: ACM Conference on Economics and Computation, 2019
    link: https://dl.acm.org/doi/abs/10.1145/3328526.3329573
  - title: 'When Hashing Met Matching: Efficient spatio-temporal search for ridesharing'
    abstract: 'This work introduced the AI technique of Locality Senitive Hashing (widely used in fields such as
      image search, information retrieval, machine learning) to mobility literature. The high-dimensional
      search technology developed here enables mobility extremely efficient mobility optimization in real-time and at urban-scale.'
    conference: AAAI Conference on Artificial Intelligence, 2021
    link: https://ojs.aaai.org/index.php/AAAI/article/view/16081

---

<div class='two spacing'></div>

<div class='full'>
  <div class='row'>
    <div class='medium-11 columns'>
      <h4 style='color: #999'>Our vision</h4>
      <h2>We are a "science-first" company.</h2>
      <div class='spacing'></div>
      <p style="color:black;"><big><big>Mobility is a fundamental societal challenge.
        A true disruption for this challenge must be powered by deep-tech built on scientific innovations.</big></big></p>
      <div class='spacing'></div>
      <p style="color:black;"><big><big>Our innovations span and synthesize disciplines of Artificial Intelligence, Operations Research, Algorithms and more.
        And we take these innovations out of the lab to real life.</big></big></p>
      <div class='spacing'></div>
      <p style="color:black;"><big><big>While these innovations build the secret sauce for our techniology,
        we also contribute to advance scientific knowledge in related fields.
        Check out some of our publications below.</big></big></p>
    </div>
  </div>
</div>

{% for publication in page.publications %}
  <div class='full'>
    <div class='row'>
      <div class='large-6 columns'>
        <h3>{{publication.title}}</h3>
        <div class='spacing'></div>
        <p> <big> {{publication.abstract}} </big> </p>
      </div>
      <div class='large-6 columns'>
        <div class='two spacing'></div>
        <ul class='info'>
          {% if publication.journal %}
            <li style="color:black;">
              <big> <strong>Journal</strong>: {{publication.journal}} </big>
            </li>
          {% else %}
            <div class='spacing'></div>
          {% endif %}
          {% if publication.conference %}
            <li style="color:black;">
              <big> <strong>Conference</strong>: {{publication.conference}} </big>
            </li>
          {% endif %}
        </ul>
        <div class='two spacing'></div>
        <a target='_blank' class='button small' href={{publication.link}}>See Publication</a>
      </div>
    </div>
  </div>
  <div class='two spacing'></div>
{% endfor %}

<div class='four spacing'></div>
